{% extends 'entries/base.html' %}

{% block content %}
        <h2 class="mb-4">{{object.user.username}}</h2>
        <p>{{object.bio}}</p>

        {% if object.user.profile.image %}
            <img src="{{ object.image.url}}" alt="isha" height="50%" width="50%" align="left">
        {% endif %}

        <h2 class="post-title">General Info</h2>
                <ul>
                    <li>
                        <span>Firstname: </span> <span>{{object.user.first_name}}</span>
                    </li>
                    <li>
                        <span>Lastname: </span>{{object.user.last_name}}
                    </li>
                    <li>
                        <span>Date of Birth: </span>{{object.birth_date}}
                    </li>
                    <li>
                        <span>Location: </span>{{object.location}}
                    </li>
                    <li>
                        <span>E-mail: </span>{{object.user.email}}
                    </li>
                    <li>
                        <span>Phone: </span>{{object.phone_number}}
                    </li>
                </ul>
{% endblock %}
